### content based movie recommdation system

In [1]:

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
movie = pd.read_csv('tmdb_5000_movies.csv')
credit = pd.read_csv('tmdb_5000_credits.csv')

In [26]:
movie.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [27]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [28]:
# then now mearge this data 
movies = movie.merge(credit, on='title')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [29]:
# feature extreaction 
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [30]:
movies = movies[['genres', 'id', 'keywords', 'overview', 'popularity', 'revenue', 'vote_average', 'vote_count', 'cast','title']]

In [31]:
movies.head()

,genres,id,keywords,overview,popularity,revenue,vote_average,vote_count,cast,title
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",150.437577,2787965087,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",Avatar
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",139.082615,961000000,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",Pirates of the Caribbean: At World's End
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,107.376788,880674609,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",Spectre
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,112.312950,1084939099,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",The Dark Knight Rises
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",43.926995,284139100,6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",John Carter

In [32]:
movies.isnull().sum()

genres          0
id              0
keywords        0
overview        3
popularity      0
revenue         0
vote_average    0
vote_count      0
cast            0
title           0
dtype: int64

In [33]:
movies.dropna(inplace=True)

In [34]:
movies.isnull().sum()

genres          0
id              0
keywords        0
overview        0
popularity      0
revenue         0
vote_average    0
vote_count      0
cast            0
title           0
dtype: int64

In [35]:
import ast
ast.literal_eval

def convart(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [36]:
movies['genres'] = movies['genres'].apply(convart)

In [37]:
movies.head()

,genres,id,keywords,overview,popularity,revenue,vote_average,vote_count,cast,title
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",150.437577,2787965087,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",Avatar
1,"[Adventure, Fantasy, Action]",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",139.082615,961000000,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,107.376788,880674609,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",Spectre
3,"[Action, Crime, Drama, Thriller]",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,112.312950,1084939099,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",The Dark Knight Rises
4,"[Action, Adventure, Science Fiction]",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",43.926995,284139100,6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",John Carter

In [38]:
movies['keywords'] = movies['keywords'].apply(convart)

In [39]:
import ast
ast.literal_eval

def convart2(obj):
    l = []
    counts = 0
    for i in ast.literal_eval(obj):
        if counts != 3:
            l.append(i['name'])
        else:
            break
    return l

In [40]:
movies['cast'] = movies['cast'].apply(convart2)
movies.head()

,genres,id,keywords,overview,popularity,revenue,vote_average,vote_count,cast,title
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",150.437577,2787965087,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",Avatar
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",139.082615,961000000,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bondâ€™s past sends him o...,107.376788,880674609,6.3,4466,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",Spectre
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,112.312950,1084939099,7.6,9106,"[Christian Bale, Michael Caine, Gary Oldman, A...",The Dark Knight Rises
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",43.926995,284139100,6.1,2124,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",John Carter

In [41]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4806 entries, 0 to 4808
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        4806 non-null   object
 1   id            4806 non-null   int64
 2   keywords      4806 non-null   object
 3   overview      4806 non-null   object
 4   popularity    4806 non-null   float64
 5   revenue       4806 non-null   int64
 6   vote_average  4806 non-null   float64
 7   vote_count    4806 non-null   int64
 8   cast          4806 non-null   object
 9   title         4806 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 413.0+ KB

In [42]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [43]:
movies.head(1)

,genres,id,keywords,overview,popularity,revenue,vote_average,vote_count,cast,title
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",150.437577,2787965087,7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",Avatar

In [52]:
def clean_text(x):
    if isinstance(x, list):
        return " ".join(x)
    elif isinstance(x, str):
        return x.replace('[','').replace(']','').replace("'", "").replace(",", " ")
    else:
        return ""

In [53]:
# Apply this cleaning to each column before merging
movies['genres'] = movies['genres'].apply(clean_text)
movies['keywords'] = movies['keywords'].apply(clean_text)
movies['cast'] = movies['cast'].apply(clean_text)
movies['overview'] = movies['overview'].fillna('')

In [55]:
movies['tags'] = movies['genres'] + " " + movies['keywords'] + " " + movies['overview'] + " " + movies['cast']

In [56]:
new_df = movies[['id','title','tags']]

In [57]:
new_df

,id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...
...,...,...,...
4804,9367,El Mariachi,Action Crime Thriller unitedstatesâ€“mexicobarri...
4805,72766,Newlyweds,Comedy Romance A newlywed couple's honeymoon ...
4806,231617,"Signed, Sealed, Delivered",Comedy Drama Romance TVMovie date loveatfirsts...
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent...
4808,25975,My Date with Drew,Documentary obsession camcorder crush dreamgir...

In [58]:
new_df['tags']

0       Action Adventure Fantasy ScienceFiction cultur...
1       Adventure Fantasy Action ocean drugabuse exoti...
2       Action Adventure Crime spy basedonnovel secret...
3       Action Crime Drama Thriller dccomics crimefigh...
4       Action Adventure ScienceFiction basedonnovel m...
                              ...
4804    Action Crime Thriller unitedstatesâ€“mexicobarri...
4805    Comedy Romance  A newlywed couple's honeymoon ...
4806    Comedy Drama Romance TVMovie date loveatfirsts...
4807      When ambitious New York attorney Sam is sent...
4808    Documentary obsession camcorder crush dreamgir...
Name: tags, Length: 4806, dtype: object

In [59]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\Admin\AppData\Local\Temp\ipykernel_9172\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [ ]:
import nltk

In [74]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [75]:
def stem(text) :
    y = []
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [76]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9172\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [77]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [78]:
vactor = cv.fit_transform(new_df['tags']).toarray()

In [79]:
vactor

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 5000))

In [80]:
print(cv.get_feature_names_out())

['000' '007' '10' ... 'zoo' 'zooeydeschanel' 'zoÃ«kravitz']

In [81]:
from sklearn.metrics.pairwise import cosine_similarity

In [82]:
similarity = cosine_similarity(vactor)

In [83]:
similarity[1]

array([0.06673261, 1.        , 0.07396705, ..., 0.02083786, 0.        ,
       0.02174427], shape=(4806,))

In [87]:
def recommender(movies):
    movies_index = new_df[new_df['title'] == movies].index[0]
    distance = similarity[movies_index]
    movies_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [88]:
recommender("Spectre")

Skyfall
Quantum of Solace
Never Say Never Again
From Russia with Love
Safe Haven